<!DOCTYPE html>
<html>
<head>
    <title>Lista de Médicos</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Lista de Médicos</h1>
    <nav>
        <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'lista_pacientes' %}">Lista de Pacientes</a></li>
            <li><a href="{% url 'lista_especialidades' %}">Lista de Especialidades</a></li>
        </ul>
    </nav>
    <ul>
        {% for medico in medicos %}
            <li>{{ medico.nombre }} (Especialidad: {{ medico.especialidad.nombre }})</li>
        {% endfor %}
    </ul>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
