<!DOCTYPE html>
<html>
<head>
    <title>Lista de Pacientes</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Lista de Pacientes</h1>
    <nav>
        <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'lista_medicos' %}">Lista de Médicos</a></li>
            <li><a href="{% url 'lista_especialidades' %}">Lista de Especialidades</a></li>
        </ul>
    </nav>
    <ul>
        {% for paciente in pacientes %}
            <li>{{ paciente.nombre }} ({{ paciente.edad }} años, {{ paciente.genero }}): {{ paciente.diagnostico }}</li>
        {% endfor %}
    </ul>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
